*.swp
*.swx
*.o
*.a
*.so
*.out
*.dll
*.lib
*.exp
*.json
*.tmp
*.ilk
*.pdb
*.gch
*.pch
*.sym
*.exe
*vgcore.*
*.gdb_history
.vs/
.xmake/
.cache/
objs/
build/
examples/controller_paint/*.png
subprojects/*/
subprojects/.wraplock
