name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: |
          Hello! Thank you for filing an issue.

            If this is a bug report, please include relevant logs to help us debug the problem (OS, MLX version, drivers installed, GPU type and vendor, ...)
        pr-message: |
            Hello! Thank you for your contribution.

            If you are fixing a bug, please reference the issue number in the description.

            If you are implementing a feature request, please explain all your changes in your pull request.

