name : Windows (Meson)

on:
  repository_dispatch:
    types: [create-pull-request]
  pull_request:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: windows-latest
    strategy:
      matrix:
        platform: ['x64', 'x86']
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Install a 32-bit Python so building related stuff work.
      - name: Setup x86 Python
        if: matrix.platform == 'x86'
        uses: actions/setup-python@v6
        with:
          architecture: 'x86'
          python-version: '3.12'
      - name: Install Meson & Ninja
        run: |
          python -m pip install meson ninja
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.platform}}
      - name: Compile mlx
        run: |
          meson setup builddir
          meson compile -C builddir